@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

/* Estilos personalizados para la barra de desplazamiento */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
  height: 8px; /* Altura de la barra de desplazamiento horizontal */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d; /* Color de fondo de la pista */
  border-radius: 10px; /* Radio de borde de la pista */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde de la barra de desplazamiento */
  border: 2px solid #2d2d2d; /* Borde de la barra de desplazamiento */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #606060; /* Color de la barra de desplazamiento al pasar el ratón por encima */
}
